body{
    background-color:white;
    font-family:courier,arial,helvetica;
    background-image: url("../images/silverware.jpg");
}
h1.title { 
    color:olive;
    text-decoration: underline;
    background-color: #dddeee;
} 
.alignCenter{
    text-align: center;
}

p > strong {
    color: cyan;
}
img{
    width: 200px;
    height: 200px;
}
.img2{
    width: auto;
    height: auto;
}
.underlined {
    text-decoration: underline;
  }
.lined{
    text-decoration: line-through;
}

.comment{
    font-family: 'Margarine', 'Helvetica', arial;
    font-style: italic;
    background-color:#ffe085;
    padding: 2px;
    margin: 5px 30px 10px  30px ;

}
.link a{
    color:olive;
}