body{
    background-color:rgb(244, 248, 246);
    font-family:courier,arial,helvetica;
}

h1,h2 {
    color:teal;
}
p > strong {
    color: red;
}

img{
    width: 200px;
    height: 200px;
}


.img2{
    width: auto;
    height: auto;
}